@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles */

.body {
    font-family: Inter, sans-serif;
    color: #323232;
}

.cards-wrapper {
    max-width: 1248px;
    padding: 0 24px;
    margin: 48px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

@media (min-width: 680px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid #dadada;
    padding: 16px;
    min-height: 386px;
    border-radius: 22px 6px;
}

.card__type {
    display: inline-block;
    margin: 12px 0 10px;
    align-self: flex-start;
    padding: 4px 12px;
    font-size: 12px;
    color: #4D4D53;
    border: 1px solid #4D4D53;
    border-radius: 40px;
    text-transform: uppercase;
}

.card__title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #323232;
    margin-bottom: 8px;
}

.card__topics {
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #323232;
    font-weight: 600;
}

.card__topic-list {
    color: #23B2A7;
    font-weight: 500;
}

.card__topic-list a:hover {
    text-decoration: underline;
}

.card__author, .card__date {
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 15.6px;
    color: #666666;
}

.card__author {
    margin-top: auto;
    font-weight: 700;
    margin-bottom: 4px;
}

.card__date {
    font-weight: 400;
}